@model PortfilioMS.Models.ViewModels.SkillViewModel

<h2>Skill Details</h2>

<dl class="row">
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Category</dt>
    <dd class="col-sm-9">@Model.Category</dd>

    <dt class="col-sm-3">Proficiency</dt>
    <dd class="col-sm-9">@Model.ProficiencyLevel%</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Description</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
